/* Baziniai nustatymai (stiliaus), kurie nesikeičia visame projekte*/

/* 
main title
font-family: 'Crimson Text', serif;
other text paragraph, btn
font-family: 'Work Sans', sans-serif; 
*/

body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h1, h2 {
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    padding: 15px 0;
}

h3 {
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 125%;
    font-size: 16px;
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
}

a {
    text-decoration: none;
    cursor: pointer
}

.btn {
    display: inline-block;
    width: 170px;
    height: 48px;
    line-height: 48px;
    margin: 25px 0;
    font-size: 20px;
    text-align: center;
    border: 0;
    border-radius: 5px;
}

.btn-wh {
    color: black;
    background-color: white;
}

.btn-wh:hover {
    color: white;
    background-color: black;
}

.btn-bl {
    color: white;
    background-color: black;
}

.btn-bl:hover {
    color: black;
    background-color: #74C69D;
}