/* Išdėstymo (struktūros) nustatymai, bendri elementams */

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 135px;
    width: 100%;
}

.full-bg {
    
    background-color: #74C69D;
}

@media screen and (max-width: 749px) {
    .container {
    padding: 0 20px;
    }
}