@import '../base/base.css';
@import '../base/layout.css';

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 35px 135px;
    background-color: #74C69D;
    
}

.header-logo {
    max-width: 187px;
    max-height: 50px;
    object-fit: contain;
    object-position: left;
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.menu-link {
    color: white;
    font-size: 20px;
    line-height: 25px;
}

.menu-link:hover {
    color: black;
}

@media (max-width: 375px) {
    .header {
        max-width: 355px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 17px;
    }
    .header-logo {
        max-width: 129px;
        max-height: 38px;
    }
}