/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
/* components */
@import '../components/header.css';

/* CUSTOM */

/* Section Hero */

.section-hero {
    min-height: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 120px;
    background-color: #74C69D;
}

.section-hero .content {
    flex-grow: 1;
    flex-basis: 300px;
    max-width: 416px;
    flex-shrink: 1;
    color: white;
}

.section-hero .image {
    flex-grow: 1;
    flex-basis: 410px;
    max-width: 645px;
    flex-shrink: 1;
}

.section-hero .image img {
    width: 100%;
}

/* Section Partners */

.section-partners {
    padding: 60px 20px;
    text-align: center;
}

.section-partners .content {
    width: 411px;
    margin: 0 auto;
}

.section-partners .topic {
    color: #74C69D;
}

.section-partners .description {
    font-size: 20px;
    line-height: 25px;
}

.section-partners .partners-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 55px 0;
    gap: 68px;
}

.section-partners .partner-logo {
    height: 50px;
}

/* Media */

@media screen and (max-width: 749px) {
    .main-nav {
      display: none;
    }

    .section-hero {
        justify-content: center;
    }
  }